*{
    margin: 0;
font-family: sans-serif;
text-align: center;

}



a{
    text-decoration: none;
font-family: sans-serif;
color: snow;
}

header nav ul>li a:hover{
color:grey;
}


header{
    border: px black solid;
    background-color: rgb(0, 0, 0);
    display: flex;
    /* flex-wrap: wrap; */
}

header>nav>ul{
display: flex;
flex-wrap: wrap;
}

li{
    border: px solid black;
    width: 150px;
    height: 60px;
text-align: center;
line-height: 50px;
flex-grow:1px;
}

#musicfy{
    flex-shrink:0;
    width: 70px;
font-weight: 700;
}
#alienemoji
{
    flex-shrink: 1;
    width: 20px;
}
#Premium{
flex-shrink: 2;
width: 1200px;
text-align: right;
}

#Support1
{
    text-align:left;
}

.fa-reddit-alien
{
    color: yellowgreen;
    font-weight: 600px;
}

/* header over */



#Overview {
     height: 900px; 
background-image: url(../IMAGE/OverViewMUSICFY.jpg);
background-size: 100%,100%;
background-repeat: no-repeat;
}

#Overview h1{
    color: white;
    font-size: 40px;
    text-align: center;
    line-height:700px;
}

#Overview a span{
    border: 1px solid white;
    color:black;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    border-radius: 90px;
    position: relative;
    bottom: 270px;
    background-color: aliceblue;

}

         /* OverView over */




   #WhyMusicfy
   {
    display:flex;
    /* border: px solid black;     */
background-color:whitesmoke;
text-align: center;
justify-content: space-around;
/* background-image: url(../IMAGE/WhyMusicfy7.jpg); */
/* background-size: 100%,100%;
background-repeat: no-repeat; */

}
     
   .whymusicfyitem{
/* border: px solid black; */
height: 1000px;
width: 100%;
  
   }

   .whymusicfyitem>h3{
   text-align: center;
   padding-top: 470px;
   
   
   }

   .whymusicfyitem>p{
   padding-top: 10px;
  
}
 
#WhyMusicfy h1{
    position: absolute;
    font-size: 50px;
    left: 800px;
    padding-top: 200px;
}
  
/* whymusicfy  over*/







#FreeDownload
{
    height: 1000px;
  background-color: black;
}
#FreeDownload h1{
    color: aliceblue;
    font-size: 40px;
    text-align: center;
  padding-top: 350px;
}



             /* freedownload */


             #Support{
border: px solid white;
display: flex;


background-color:rgb(82, 81, 81);
 }




#list1
{
    position: relative;
    left: 230px;
    display: flex;
    flex-wrap: wrap;
}

#list2
{
position: relative;
left: 160px;
display: flex;
    flex-wrap: wrap;
}
#list3
{
    position: relative;
left: 200px;

}



 .supportitems{
    border: px solid black;
    height: 300px;
    width: 100%;
    text-align: center;
  
 }

 .supportitems a{
    color:white;
 }

 .supportitems ul li a:hover{
    color: yellowgreen;
 }
 .supportitems h1{
    color:black;
 }

 

 footer{
    border: px solid white;
    height: 50px;
    color: white;
    background-color: black;
    padding-top: 30px;
 }